.containerPage {
    display: flex;
    min-height: 100vh;

    .navTab {
        width: 20%;
        padding: 4rem 2.4rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .tab {
            padding: 1.2rem 1.6rem;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background-color: var(--pink-red);
                color: var(--color-red);
            }
        }

        .panel {
            span {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            &:hover {
                background-color: transparent;
            }
        }

        .tab,
        .panel {
            img {
                width: 2rem;
            }
        }

        .active {
            color: var(--color-red);

            .tab {
                background-color: var(--pink-red);
            }
        }
    }

    .mainColumn {
        padding: 2.5rem 1.5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .mainChild {
        flex: 1;
        border-radius: 0.8rem;
    }

    .bgWhite {
        background-color: var(--white);
    }

    .pageHeader {
        margin-bottom: 1.5rem;
        border-radius: 0.8rem;
        padding: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input,
        input {
            background-color: var(--bg-input1);
            border: none;
        }

        h2 {
            font-size: 3.2rem;
            margin: 0;
        }

        .featFnc {
            display: flex;
            gap: 0.8rem;
        }
    }

    .logo {
        margin-bottom: 3.2rem;

        .imgLogo {
            width: 9rem;
            height: 4rem;
        }
    }
}