.listCs {
    padding: 1.8rem;

    .topAction {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.8rem;
        gap: 1.8rem;

        .reload {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            border: 1px solid var(--base) !important;
            color: var(--base) !important;
        }
    }

    .status {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0.2rem;
        border-radius: 0.3rem;
    }

    .btnAction {
        display: flex;
        gap: 1.2rem;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
        }
    }
}

.csExc {
    padding: 1.8rem;

    .btnAction {
        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;
        margin-bottom: 1.8rem;

        .btnPlus {
            display: flex;
            text-align: center;
            align-items: center;
            color: var(--base);
            border-color: var(--base);
        }
    }
}

.createCS {
    .group {
        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;
    }
}

.viewCs {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}

.detailCs {
    padding: 1.8rem;
    gap: 1.8rem;
    display: flex;

    .csImage {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
    }
}