@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --base: #BB0409;
    --color-red: #C00000;
    --black: #222222;
    --white: #FFFFFF;
    --orange: #F59638;
    --light-base: #CF575A;
    --light-white: #D9D9D9;
    --cool-grey: #FBFCFD;
    --bg-input: #F5F7F9;
    --bg-input1: #E9ECEF;
    --pink-red: #F8DCDC;
    --grey-holder: #7E8B99;
    --pink: #EC9E9E;
    --placeholder: #9EA8B3;
    --grey: #A6A6A6;
    --white-bg: #F0F0F0;
    --coding: #DA4646;
    --uiux: #917EF1;
    --pmba: #F6A351;
    --blockchain: #3DA497;
    --data: #6792F4;
    --row-head: #FBEDEC;
    --text-head: #404040;
    --blue: #3062D4;
    --cool-grey: #DEE3E7;
    --running: #00FF00;
    --drop: #CF575A;
    --finish: #B4A7D6;
    --preopen: #FF9902;
    --calender-header: #5E5E5E;
    --bg-btn-today: #F7F7F7;
    --border-btn-calendar: #D5D5D5;
    --color-btn-calendar: #555F6D;
    --time-active: #6EC9BF;
    --free-time: #13734B;
}

html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
    height: fit-content;
}

body {
    color: var(--black);
}

* {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        height: 0.2rem;
        width: 0.2rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--base);
        width: 0;
        border-radius: 1rem;
    }
}


.container_default {
    // min-width: 100vw;
    // width: fit-content;
    min-height: 100vh;
    margin: auto;
    background-color: var(--bg-input);
}

a {
    text-decoration: none;
    color: var(--black);
}

.field_required {
    color: var(--orange);
}

.ant-radio-checked .ant-radio-inner {
    border-color: var(--base) !important;
    background-color: var(--base) !important;
}

.error {
    text-align: left !important;
    color: var(--orange);
}

.btn_base {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base);
    color: var(--white);
    width: 100%;
    height: 4.4rem;
    font-weight: 600;
    font-size: 1.4rem;

    &:hover {
        color: var(--white) !important;
    }
}

:where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--base) !important;
    border: 1px solid var(--base);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after {
    border: none;
}

.FREE {
    .ant-checkbox-inner {
        border: 1px solid var(--free-time);
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--free-time) !important;
        border: 1px solid var(--free-time);

    }
}

.DAYOFF {
    .ant-checkbox-inner {
        border: 1px solid var(--pmba);
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--pmba) !important;
        border: 1px solid var(--pmba);

    }
}

.PREOPEN {
    .ant-checkbox-inner {
        border: 1px solid var(--preopen);
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--preopen) !important;
        border: 1px solid var(--preopen);

    }
}

.FINISH {
    .ant-checkbox-inner {
        border: 1px solid var(--border-btn-calendar);
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--border-btn-calendar) !important;
        border: 1px solid var(--border-btn-calendar);

    }
}

.ACTIVE {
    .ant-checkbox-inner {
        border: 1px solid var(--time-active);
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--time-active) !important;
        border: 1px solid var(--time-active);

    }
}

.customize-collapse {

    div.ant-collapse-header {
        padding: 0 !important;
        transition: none !important;

    }

    .ant-collapse {
        background-color: transparent;
    }

    * {
        border: 0 !important;
    }

    &.collapse_tab {
        width: 100%;

        .ant-collapse-header:has(.headerPanelActive) {
            border-left: 2px solid var(--base) !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            padding-left: 1.4rem !important;
        }

        div.ant-collapse-header {
            padding: 1.2rem 1.6rem !important;
            border-radius: 0.8rem !important;
            cursor: pointer;

            &:hover {
                background-color: var(--pink-red);
                color: var(--color-red);
            }
        }

        .ant-collapse-content-box {
            padding: 0 !important;
        }

        .content-panel {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .item {
                padding: 1.2rem 1.6rem;
                border-radius: 0.8rem;
                gap: 1rem;
                cursor: pointer;
                padding-left: 4.6rem;

                &:first-child {
                    margin-top: 0.5rem;
                }

                &:hover {
                    background-color: var(--pink-red);
                    color: var(--color-red);

                    a {
                        color: var(--color-red);
                    }
                }

                &.activeChild {
                    background-color: var(--pink-red);
                    color: var(--color-red);
                }
            }
        }
    }
}

.pageHeader {
    span.ant-avatar {
        // padding: 0.5rem;
        border: none;
        background-color: var(--bg-input1);
    }

    div.badge {
        padding: 0;
    }

    .ant-avatar-string {
        top: -0.1rem;
    }
}

:where(.css-dev-only-do-not-override-zjzpde).ant-tabs-top>.ant-tabs-nav::before {
    border-bottom-width: 2px !important;
}

// :where(.css-dev-only-do-not-override-zjzpde).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-group-title {
//     color: var(--black);
//     cursor: pointer;
// }

.tabs-customize {
    width: fit-content;


    .ant-tabs-nav-list {
        color: var(--grey-holder);
    }

    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
        background-color: var(--color-red);
    }

    div.ant-tabs-tab {
        padding: 1.6rem 0.8rem;
        margin: 0 !important;
        padding-bottom: 0.8rem;

        &:hover {
            color: var(--color-red) !important;
        }
    }

    div.ant-tabs-tab-btn {
        padding: 0 0.8rem;
    }

    .ant-tabs-tab-active div.ant-tabs-tab-btn {
        color: var(--color-red) !important;
    }

    .ant-tabs-nav-wrap {
        padding: 0 1.6rem;
        padding-top: 1.6rem;
    }

    .ant-tabs-tab-btn:focus:not(:focus-visible) {
        color: var(--color-red) !important;
    }
}

.toolbar-customize {
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    // margin-bottom: 1.6rem;

    .ant-dropdown-menu {
        .ant-tag {
            display: flex;
            width: fit-content;
            align-items: center;
            padding: 0.5rem;
            background-color: transparent;
            color: var(--pink);
            border-color: var(--pink);
            border-radius: 0.8rem;

            svg {
                fill: var(--pink);

                &:hover {
                    fill: var(--color-red);
                }
            }
        }
    }

    .filter-list {

        display: flex;
    }

    .ant-dropdown-trigger {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--placeholder) !important;
    }

    .ant-tag {
        display: flex;
        width: fit-content;
        align-items: center;
        padding: 0.5rem;
        background-color: transparent;
        color: var(--pink);
        border-color: var(--pink);
        border-radius: 0.8rem;

        svg {
            fill: var(--pink);

            &:hover {
                fill: var(--color-red);
            }
        }
    }

    button.btn-toolbar {
        padding: 0 0.8rem;
        border-radius: 0.8rem;
        height: 2.6rem;
        margin: 0;
        border-color: var(--color-red);

        &.mr-8 {
            margin-right: 0.8rem;
        }

        span {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            color: var(--color-red);
        }
    }


    .right-fnc {
        display: flex;
        margin-left: auto;

        .search {
            img {
                margin-right: 1.6rem;
            }
        }
    }
}

.bgWhite {
    background-color: var(--white);
}

.tag-customize {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    color: var(--pink);
    border-color: var(--pink);
    border-radius: 0.8rem;
    height: 2.6rem;

    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            transform: rotate(45deg);
            cursor: pointer;
        }
    }
}

.clGrey {
    color: var(--grey);
}

.popup-filter {
    label.ant-checkbox-wrapper {
        gap: 0.8rem;
        width: fit-content;
        margin: 0;

        span:has(span.RUNNING) {
            background-color: var(--running);
        }

        span:has(span.DROP) {
            background-color: var(--drop);
        }

        span:has(span.FINISH) {
            background-color: var(--finish);
        }

        span:has(span.PREOPEN) {
            background-color: var(--preopen);
        }

    }

    .ant-checkbox {
        transform: translate(0, 0);
        align-self: center;
        width: 1.6rem;
        height: 1.6rem;
    }

    span:has(.default) {
        background-color: var(--light-base);
    }

    span:has(span.tagCheckbox) {
        display: block;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        color: var(--white);
    }

    span:has(.CODE) {
        background-color: var(--coding);
    }

    span:has(.UIUX) {
        background-color: var(--uiux);
    }

    span:has(.DATA) {
        background-color: var(--uiux);
    }

    span:has(.PMBA) {
        background-color: var(--pmba);
    }

    span:has(.BLOCKCHAIN) {
        background-color: var(--blockchain);
    }
}

.tableCustomize {
    :where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-indeterminate .ant-checkbox-inner:after {
        background-color: var(--base);
    }

    .ant-table-wrapper {
        .ant-table-content {
            background-color: var(--bg-input);

            thead {
                th {

                    .ant-table-column-sorter-inner,
                    .ant-table-column-sorter.ant-table-column-sorter-full {
                        display: none;
                    }

                    &:has(.sort) {
                        padding-left: 0 !important;
                    }

                    &.header-border {
                        border-left: 1px solid #f0f0f0;
                    }
                }
            }

            tbody {
                tr {
                    background-color: var(--white);

                    td {
                        &.hasSort {
                            padding-left: 1.6rem !important;
                        }

                        .stt {
                            padding: 0.8rem 1.6rem;
                            border-radius: 0.8rem;
                            width: 9.7rem;
                            text-align: center;
                        }

                        &.ant-table-cell.ant-table-cell-row-hover {
                            background-color: var(--white-bg);
                        }
                    }

                    &.ant-table-measure-row {
                        td {
                            padding: 0 !important;
                        }
                    }

                    &:last-child {
                        >*:first-child {
                            border-end-start-radius: 0.8rem;
                        }

                        >*:last-child {
                            border-end-end-radius: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    &.hasMergeCell {
        tbody {
            tr {
                &:last-child {
                    >*:first-child {
                        border-end-start-radius: 0 !important;
                    }

                    >*:last-child {
                        border-end-end-radius: 0 !important;
                    }
                }
            }
        }
    }
}

.display-block {
    display: block;
}

.color-placeholder {
    color: var(--placeholder);
}

.overViewDetaiClass {
    .gridCol {
        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .div2 {
            grid-area: 1 / 2 / 2 / 3;
        }

        .div3 {
            grid-area: 1 / 3 / 2 / 4;
        }

        .div4 {
            grid-area: 1 / 4 / 2 / 5;
        }

        .div5 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .div6 {
            grid-area: 2 / 2 / 3 / 3;
        }

        .div7 {
            grid-area: 2 / 3 / 3 / 4;
        }

        .div8 {
            grid-area: 2 / 4 / 3 / 5;
        }
    }

    .status {
        display: block;
        width: fit-content;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
    }
}

div.ant-picker-dropdown.css-dev-only-do-not-override-zjzpde.ant-picker-dropdown-range.ant-picker-dropdown-placement-bottomLeft {
    z-index: 1055;
}

div.ant-dropdown.css-dev-only-do-not-override-zjzpde.ant-dropdown-placement-bottomLeft {
    z-index: 1055;
}

div.ant-dropdown li.ant-dropdown-menu-item {
    &:hover {
        color: var(--base) !important;
    }
}

div.ant-tree-select-dropdown {
    z-index: 1055;
}

div.ant-select-tree-list-holder div.ant-select-tree-treenode.ant-select-tree-treenode-switcher-close {
    &:hover {
        color: var(--base);
    }
}

div.ant-message {
    z-index: 1056;
}

:where(.css-dev-only-do-not-override-zjzpde).ant-switch.ant-switch-checked,
:where(.css-dev-only-do-not-override-zjzpde).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background-color: var(--base);
}

.hover.color-base:hover {
    cursor: pointer;
    color: var(--base);
}

.calanderCustomize {
    display: flex;

    .rbc-month-view,
    .rbc-time-header,
    .rbc-time-view,
    .rbc-time-header-content {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;

        .rbc-header {
            &:last-child {
                border-top-right-radius: 0.8rem;
            }
        }
    }

    .rbc-time-view {
        .rbc-time-content {
            .eventWrapper {
                position: absolute;
            }
        }
    }

    .rbc-month-view {
        .rbc-row {
            margin-bottom: 0.2rem !important;
        }
    }

    .rbc-row-content,
    .rbc-allday-cell,
    .rbc-allday-cell .rbc-row-bg {
        border-top-right-radius: 0.8rem;
    }

    .rbc-row-content .rbc-row:first-child {
        border-top-right-radius: 0.8rem;
    }

    .rbc-row-segment {
        padding: 0 0.4rem;
    }

    .rbc-header {
        color: var(--calender-header);
        height: fit-content;

        button {
            padding: 1rem 0;
        }
    }

    .cardCalendar {
        .rbc-month-view {
            .rbc-month-row {
                .rbc-row-content {
                    .rbc-row {
                        margin-bottom: 0.2rem !important;

                        div.rbc-date-cell {
                            text-align: center;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .rbc-date-cell {
            button {
                font-size: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;

                &:hover {
                    background-color: var(--bg-btn-today);
                }
            }
        }
    }

    .rbc-today {
        background-color: transparent;
    }

    .rbc-off-range-bg {
        background-color: transparent;
    }

    .rbc-date-cell {
        button {
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;

            &:hover {
                background-color: var(--bg-btn-today);
            }
        }

        &.rbc-now {
            button {
                color: var(--white);
                background-color: var(--coding);
            }
        }
    }
}

.dialogEventPopUp {
    .modal-body {
        padding: 0;
    }

    .modal-content {
        padding: 3.4rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .modal-header {
            padding: 0;
            border-bottom: 0;
        }
    }

    .contentEventPopup {
        .title {
            font-weight: bold;
            font-size: 2.4rem;
            margin-bottom: 5.2rem;
        }

        .statusEvent {
            color: var(--white);
            width: fit-content;
            padding: 0.8rem 1.6rem;
            border-radius: 0.8rem;
        }

        .timeSchedule {
            display: flex;
            justify-content: space-between;
        }
    }
}

.selectNumberCustome {
    :where(.css-dev-only-do-not-override-zjzpde).ant-input-number:hover {
        border-color: var(--base);
    }

    span {
        border: 0 !important;
    }

    :where(.css-dev-only-do-not-override-zjzpde).ant-input-number .ant-input-number-handler-wrap {
        opacity: 1 !important;
    }
}