
.containerTestCourse {
    .content {
        padding: 0 1.2rem;
    }
}

.containerSynthetic {

    .tool,
    .filter {

        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .tool {
        justify-content: flex-end;
        margin: 1.2rem 0;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }
}

.collectionTest {
    max-width: 20%;
    padding: 0 1.2rem;
    margin-bottom: 1.2rem;

    .mainBlock {
        border-radius: 0.8rem;

        img {
            border-radius: 0.8rem;
        }

        box-shadow: rgba(149, 157, 165, 0.2) 0px 0.4rem 1.2rem;

        .content {
            padding: 0.8rem;
            display: flex;
            flex-direction: column;
            position: relative;

            .eye {
                position: absolute;
                right: 0.8rem;
                top: 0;
                cursor: pointer;
            }

            p {
                margin: 0;
            }
        }

    }
}

.titleCollectioTest {
    display: flex;
    align-self: center;
    justify-content: space-between;

    span.title {
        font-size: 1.8rem;
    }

    .button {
        display: flex;
        gap: 0.8rem;
    }
}

.question {
    * {
        background-color: transparent;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .typeQuestion {
            color: var(--white);
            padding: 0 0.8rem;
            border-radius: 0.8rem;
            background-color: var(--finish);
        }
    }

    .typeBoolean {
        display: flex;
        justify-content: center;
        gap: 2.8rem;

        .itemRadio {
            border: 1px solid var(--grey);
            padding: 1.2rem;
            border-radius: 0.8rem;
        }
    }

    .changeTypeAnswer {
        text-align: right;
    }

    .pickQuestion {
        text-align: right;
    }

    .parent {
        display: grid;
        height: 10rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0.8rem;
        grid-row-gap: 0.8rem;
    }

    .flex {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
    }

    .answer {
        display: flex;
        border-radius: 0.8rem;
        border: 1px solid var(--grey);

        input {
            width: 80%;
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .radio {
            flex: 1;
            margin: 0;
            justify-content: center;
        }
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 3;
    }
}



.containerStudentQuizz{
    width: 100%;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center center;
    background-size: cover;
  //  background-color: whitesmoke;
    .studentQuizzWrapper{
        width: 1200px;
        height: 800px;
        padding: 35px;
        border-radius: 35px;
        box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;

        .background{
            background-image: url(../assets/imgs/4303292.jpg);
            border-radius: 0 0 43% 43%;
            background-size: cover;
            width: 100%;
            height: 350px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 1;
        }
        .contentWrapper{
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            padding: 35px;


                .quizzTime {
                    color: var(--base);
                    font-weight: bold;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        }
                    
                .quizzTime span {
                    margin-left: 10px;
                    font-size: 24px;
                    }

                .quizz{
                    margin-top: 150px;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    .quizz_quesstion{
                        background-color: white;
                        position: relative;
                        border-radius: 3px;
                        box-shadow: 0 0 3px rgba(0,0,0,0.3);
                        padding: 10px;

                        .quesstionCount{
                            background-color: var(--base);
                            width: fit-content;
                            padding: 10px 35px;
                            border-radius: 25px;
                            color: white;
                            position: absolute;
                            top: -7px;
                            left: 50% ;
                            transform: translate(-50%, -50%);
                            font-size:20px ;
                        }
                        p{
                            padding: 8px 25px;
                            margin-top: 25px;
                            font-size: 18px
                        }
                        
                    }

                    .answer{
                        
                        margin-top: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        justify-content: space-between;
                    }
                    .answer div{
                        width: 440px;
                        border-radius: 3px;
                        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                        background-color: white;
                        padding: 10px 20px; 
                        text-align: center;
                    }
                    button{
                        padding: 10px 25px;
                        border: none;
                        background-color: var(--color-red);
                        border-radius: 25px;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 80px;
                        margin-left: auto
                        
                    }
                    button:hover{
                        background-color: var(--base);
                        transition: .5s;
                        box-shadow: 0 0 10px rgba(240, 63, 63, 0.6);
                    }
 
                }

        }


    }


}