.managerTeacher {
    height: 100%;
    display: flex;
    flex-direction: column;

    .listTeacher {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .tableManagerTeacher {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}