.subject {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    color: var(--white);
    background-color: var(--coding);
    width: 6.8rem;
}

.colTimeSchedule {
    p {
        margin: 0;
    }
}