.subject {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    color: var(--white);
    min-width: 6.8rem;
    width: 100%;
}

.colTimeSchedule {
    p {
        margin: 0;
    }
}

.tableMangerClass {
    flex: 1;
    justify-content: space-between;
}

.statusActive {
    color: var(--white);
    border-radius: 0.4rem;
}

.customizeFilter {
    display: flex;
    gap: 0.8rem;

    .itemFilter {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}

.containerTool {
    position: relative;

    .miniDashboard {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;

        .tableMiniDashboard {
            * {
                font-size: 1rem !important;
            }
        }
    }
}

.status {
    width: 100% !important;
    text-wrap: nowrap;
}